In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [21]:
import os
import pandas as pd
df = pd.read_csv('/kaggle/input/jobs-and-salaries-in-data-field-2024/jobs_in_data_2024.csv')
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,work_setting,company_location,company_size,job_category
0,2024,Entry-level,Freelance,Applied Data Scientist,30000,USD,30000,United Kingdom,Remote,United Kingdom,M,Data Science and Research
1,2024,Executive,Full-time,Business Intelligence,230000,USD,230000,United States,In-person,United States,M,BI and Visualization
2,2024,Executive,Full-time,Business Intelligence,176900,USD,176900,United States,In-person,United States,M,BI and Visualization
3,2024,Senior,Full-time,Data Architect,171210,USD,171210,Canada,In-person,Canada,M,Data Architecture and Modeling
4,2024,Senior,Full-time,Data Architect,92190,USD,92190,Canada,In-person,Canada,M,Data Architecture and Modeling
5,2024,Mid-level,Full-time,Data Science,46203,GBP,57753,United Kingdom,In-person,United Kingdom,M,Data Science and Research
6,2024,Mid-level,Full-time,Data Science,38280,GBP,47850,United Kingdom,In-person,United Kingdom,M,Data Science and Research
7,2024,Entry-level,Full-time,Insight Analyst,50000,USD,50000,United States,Remote,United States,M,Data Analysis
8,2024,Entry-level,Full-time,Insight Analyst,40000,USD,40000,United States,Remote,United States,M,Data Analysis
9,2024,Senior,Full-time,Data Engineer,276000,USD,276000,United States,In-person,United States,M,Data Engineering

In [4]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'work_setting', 'company_location', 'company_size', 'job_category'],
      dtype='object')

In [5]:
df.shape

(14199, 12)

In [6]:
#Checking for the missing values
print("=== Missing Values per Column ===")
print(df.isnull().sum())

=== Missing Values per Column ===
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
work_setting          0
company_location      0
company_size          0
job_category          0
dtype: int64

In [7]:
# Checkinf the data types
print("\n=== Data Types of Each Column ===")
print(df.dtypes)

=== Data Types of Each Column ===
work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
work_setting          object
company_location      object
company_size          object
job_category          object
dtype: object

In [12]:
# Checking for duplicate rows in the data
print("\n=== Number of Duplicate Rows ===")
print(df.duplicated().sum())

=== Number of Duplicate Rows ===
5493

In [13]:
##removes the duplicates and resets the index.
df = df.drop_duplicates(keep='first').reset_index(drop=True)
df.shape

(8706, 12)

In [14]:
#Checking for outliers (using IQR method for numeric columns only)
print("\n=== Outlier Detection (IQR Method) ===")
numeric_cols = df.select_dtypes(include=['int64','float64']).columns
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f"{col}: {len(outliers)} potential outliers")

=== Outlier Detection (IQR Method) ===
work_year: 266 potential outliers
salary: 132 potential outliers
salary_in_usd: 137 potential outliers

In [15]:
## To check the top 10 highest salary outliers.
Q1 = df['salary_in_usd'].quantile(0.25)
Q3 = df['salary_in_usd'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outlier_rows = df[(df['salary_in_usd'] < lower_bound) | (df['salary_in_usd'] > upper_bound)]
outlier_rows.sort_values(by='salary_in_usd', ascending=False).head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,work_setting,company_location,company_size,job_category
8510,2020,Mid-level,Full-time,Research Scientist,450000,USD,450000,United States,In-person,United States,M,Data Science and Research
2484,2024,Senior,Full-time,Research Engineer,450000,USD,450000,United States,In-person,United States,M,Data Science and Research
1569,2024,Executive,Full-time,Head of Machine Learning,448000,USD,448000,United States,Remote,United States,M,Machine Learning and AI
2243,2024,Mid-level,Full-time,Research Scientist,440000,USD,440000,United States,In-person,United States,M,Data Science and Research
2418,2024,Senior,Full-time,Research Engineer,440000,USD,440000,United States,In-person,United States,M,Data Science and Research
1560,2024,Senior,Full-time,Research Scientist,440000,USD,440000,United States,In-person,United States,M,Data Science and Research
1185,2024,Mid-level,Full-time,ML Engineer,440000,USD,440000,United States,In-person,United States,M,Machine Learning and AI
108,2024,Mid-level,Full-time,Research Engineer,440000,USD,440000,United States,In-person,United States,M,Data Science and Research
1588,2024,Executive,Full-time,Head of Machine Learning,438000,USD,438000,United States,In-person,United States,M,Machine Learning and AI
7545,2022,Mid-level,Full-time,Data Analyst,350000,GBP,430967,United Kingdom,In-person,United Kingdom,M,Data Analysis

In [19]:
import os
import pandas as pd
df_1 = pd.read_csv('/kaggle/input/enterprise-genai-adoption-and-workforce-impact-data/Enterprise_GenAI_Adoption_Impact.csv')
df_1.head(10)

,Company Name,Industry,Country,GenAI Tool,Adoption Year,Number of Employees Impacted,New Roles Created,Training Hours Provided,Productivity Change (%),Employee Sentiment
0,Davis LLC Pvt. Ltd.,Healthcare,USA,Mixtral,2022,5277,8,657,25.2,"Productivity increased, but there's anxiety ab..."
1,"Roberts, Holland and Bradshaw Pvt. Ltd.",Telecom,South Africa,Claude,2023,18762,17,23021,27.5,"We now finish tasks faster, but some older emp..."
2,Roman Inc Pvt. Ltd.,Advertising,India,Gemini,2023,11307,17,4680,11.5,"Productivity increased, but there's anxiety ab..."
3,Nguyen-Strickland Pvt. Ltd.,Technology,UK,Groq,2023,18834,12,1750,7.0,"AI helped me reduce repetitive tasks, but lear..."
4,Jackson PLC Pvt. Ltd.,Hospitality,UK,LLaMA,2024,8364,22,3925,2.5,"Job roles have shifted a lot, which is both go..."
5,Forbes Ltd Pvt. Ltd.,Entertainment,Switzerland,Gemini,2022,16082,16,11485,19.9,New roles are exciting; transition was smoothe...
6,"Barker, Williams and Lynch Pvt. Ltd.",Telecom,South Africa,Mixtral,2022,994,11,2593,6.6,"Job roles have shifted a lot, which is both go..."
7,"Wheeler, Warner and Brown Pvt. Ltd.",Advertising,USA,Groq,2022,16429,16,11692,20.4,Collaboration improved; documentation and meet...
8,"Ramirez, Wells and Cochran Pvt. Ltd.",Technology,South Korea,Gemini,2022,12952,7,22484,29.5,There's concern that AI will replace some of u...
9,Morris Inc Pvt. Ltd.,Legal Services,Switzerland,ChatGPT,2022,4144,24,20689,33.3,I love using AI—it makes my job easier and mor...

In [20]:
df_1.columns

Index(['Company Name', 'Industry', 'Country', 'GenAI Tool', 'Adoption Year',
       'Number of Employees Impacted', 'New Roles Created',
       'Training Hours Provided', 'Productivity Change (%)',
       'Employee Sentiment'],
      dtype='object')

In [22]:
df_1.shape

(100000, 10)

In [23]:
#Checking for the missing values
print("=== Missing Values per Column ===")
print(df_1.isnull().sum())

=== Missing Values per Column ===
Company Name                    0
Industry                        0
Country                         0
GenAI Tool                      0
Adoption Year                   0
Number of Employees Impacted    0
New Roles Created               0
Training Hours Provided         0
Productivity Change (%)         0
Employee Sentiment              0
dtype: int64

In [24]:
# Checkinf the data types
print("\n=== Data Types of Each Column ===")
print(df_1.dtypes)

=== Data Types of Each Column ===
Company Name                     object
Industry                         object
Country                          object
GenAI Tool                       object
Adoption Year                     int64
Number of Employees Impacted      int64
New Roles Created                 int64
Training Hours Provided           int64
Productivity Change (%)         float64
Employee Sentiment               object
dtype: object

In [25]:
# Checking for duplicate rows in the data
print("\n=== Number of Duplicate Rows ===")
print(df_1.duplicated().sum())

=== Number of Duplicate Rows ===
0

In [26]:
## To check the number of potential outliers
# Select numeric columns
numeric_cols = df_1.select_dtypes(include=['int64','float64']).columns

# IQR outlier detection
for col in numeric_cols:
    Q1 = df_1[col].quantile(0.25)
    Q3 = df_1[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df_1[(df_1[col] < lower_bound) | (df_1[col] > upper_bound)]
    print(f"{col}: {len(outliers)} potential outliers")

Adoption Year: 0 potential outliers
Number of Employees Impacted: 0 potential outliers
New Roles Created: 0 potential outliers
Training Hours Provided: 0 potential outliers
Productivity Change (%): 0 potential outliers